# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
GNAC_ACW/.vs/GNAC_ACW/v15/.suo
GNAC_ACW/.vs/GNAC_ACW/v15/Browse.VC.db
*.ipch
*.log
*.ilk
*.pdb
*.tlog
*.pdb
*.idb
*.pdb
*.db
GNAC_ACW/.vs/GNAC_ACW/v16/.suo
*.filters
*.vcxproj
*.pdb
*.pdb
GNAC_ACW/GNAC_ACW/Debug/vc141.pdb
GNAC_ACW/GNAC_ACW/Debug/vc141.pdb
GNAC_ACW/GNAC_ACW/Debug/vc141.pdb
GNAC_ACW/GNAC_ACW/Debug/vc141.pdb
GNAC_ACW/GNAC_ACW/Debug/vc141.pdb
GNAC_ACW/GNAC_ACW/Debug/vc141.pdb
